/* Card body háttérszíne */
.card-body {
    background-color: #222; /* Visszaállítva a sötét hátteret */
}

/* Kép beállítások a Sliderhez */
.kep {
    border: 4px solid #333;
    padding: 8px;
    background-color: #222;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin: 8px 0;
    width: 100%;
    height: 200px; /* Maintain existing height */
    max-height: 200px; /* Add max-height */
    max-width: 100%; /* Add max-width */

    object-fit: cover; /* A képek nem torzulnak el */
}

/* White text styles */
.card-title,
.card-subtitle,
.card-text {
    color: #ffffff;
}

/* Smaller button styles */
.hover-button {
    padding: 4px 8px;
    font-size: 0.9rem;
    margin: 0 4px;
}

/* Hover effects for images */
.image-hover:hover {
    border-color: #ff4501;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

/* Card hover effects */
.kartya-hover {
    background-color: #222;
    border: 1px solid #333;
}

.kartya-hover:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    border-color: #ff4501;
}

/* Slider container */
.slick-slide {
    display: flex;
    justify-content: center;
}

.slick-prev, .slick-next {
    z-index: 10; /* Előző és következő gombok előtérben */
}
