.filter-container {
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 1000;
  transition: transform 0.3s ease;
  height: 90vh; /* Teljes magasság */
  overflow-y: auto; /* Görgethetővé teszi, ha túl magas */
}

.filter-container.collapsed {
  transform: translateX(-100%);
}


.toggle-button {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #444;
  border: none;
  border-radius: 0 15px 15px 0;
  padding: 15px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.toggle-button:hover {
  background-color: #555;
}

.szuro-container {
  background-color: #333;
  padding: 20px;
  border-radius: 0 8px 8px 0;
  width: 350px;
  position: relative;
  transition: transform 0.3s ease;
  min-height: 100vh;
}

.custom-slider {
  height: 8px;
  margin: 10px 0;
}

.slider-track {
  background: #666;
  height: 8px;
  border-radius: 4px;
}

.slider-car {
  width: 32px;
  height: auto;
  cursor: pointer;
  transform: translateY(-50%);
  border-radius: 15px;
}

.text-light {
  color: #fff !important;
}

.text-muted {
  color: #999 !important;
}

.arrow-visible {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.arrow-hidden {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
