.bg-white.fixed-menu {
  background-color: #282c34;
}

.szin {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Teljes képernyő */
}

.video-hatter {
  position: relative; /* Tartalom a videó előtt marad */
  width: 100%;
  height: 400%; /* Módosítva, hogy kitöltse a teljes képernyőt */
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Kitölti a rendelkezésre álló teret */
  z-index: -1; /* Háttérbe helyezi a videót */
  opacity: 1; /* Beállítható átlátszóság */
}

.video-hatter main {
  position: relative;
  z-index: 1; /* Tartalom a videó fölött maradjon */
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Félátszó fekete háttér */
}

.content {
  position: relative;
  z-index: 1; /* A videó fölött legyen */
  color: white; /* A szöveg látszódjon */
  text-align: center;
  padding: 20px;
}

body {
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Kártyákat tartalmazó konténer */
.card-container {
  max-height: 900px;
  width: auto; /* Szélesebb konténer */


  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  margin: 0 auto; /* Középre helyezés */
  margin-left: 50px; 

  margin-left: 50px; 

  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Kártyák középre igazítása */
  margin: 120px; 

  gap: 20px; /* Nagyobb távolság a kártyák között */



  /* Scrollbar testreszabása */
  --sb-track-color: #222;
  --sb-thumb-color: #FFA500;
  --sb-size: 20px;
}

.card-container::-webkit-scrollbar {
  width: var(--sb-size);
}

.card-container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 50px;
}

.card-container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  border: 2px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
  .card-container {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Kártyák beállításai */
.card {
  background-color: #222;
  border-radius: 12px;
  padding: 10px;
  transition: all 0.3s ease;
  width: 400px; 
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  border-color: #ff4501;
}

/* Nyíl stílusok a lapozáshoz */
.custom-arrow {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.slick-prev.custom-arrow {
  left: 10px;
}

.slick-next.custom-arrow {
  right: 10px;
}

.slick-prev, .slick-next {
  display: block;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: white;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.slick-prev:hover, .slick-next:hover {
  background-color: #ff4501; /* Hover állapot narancssárga */
}
