.bg-white fixed-menu{
  background-color: #282c34;
}

.szin {
  position: relative;
  width: 100%;
  height: 100vh; /* Teljes képernyő */
}

.video-hatter {
  position: relative; /* Ezzel a tartalom a videó előtt marad */
  width: 100%;
  height: 150%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Kitölti a rendelkezésre álló teret */
  z-index: -1; /* Háttérbe helyezi a videót */
  opacity: 1; /* Beállítható átlátszóság */
}

.video-hatter main {
  position: relative;
  z-index: 1; /* Tartalom a videó fölött maradjon */
  padding: 20px;
  border-radius: 10px;
}


.content {
  position: relative;
  z-index: 1; /* A videó fölött legyen */
  color: white; /* A szöveg látszódjon */
  text-align: center;
  padding: 20px;
}

body{
 /*background-image: url('/assets/film.jpg'); */
 background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
