body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Görgető testreszabás */
  --sb-track-color: #222;  /* Világos szürke */
  --sb-thumb-color: #006aff;  /* Világos kék */
  --sb-size: 20px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  border: 2px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Kártyák stílusai */
.kartya {
  -webkit-box-shadow: 0px 0px 120px 0px rgba(200, 200, 200, 0.9); /* Világos szürke árnyék */
  -moz-box-shadow: 0px 0px 120px 0px rgba(200, 200, 200, 0.9);
  box-shadow: 0px 0px 120px 0px rgba(133, 20, 20, 0.9); /* Világos szürke árnyék */
  width: 250px;
  margin-top: 20px;
  margin-left: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Simulációs animáció */
}

.kartya:hover {
  transform: translateY(-10px); /* Kártya elmozdul felfelé */
  box-shadow: 0px 0px 20px 5px rgb(47, 127, 233); /* Finomított árnyék */
}

/* A gombok hover effektusa */
.hover-button:hover {
  transform: scale(1.3); /* A gombok kissé megnövekednek */
  transition: transform 0.2s ease; /* Zökkenőmentes animáció */
}

.card-text {
  font-weight: 700;
}

.card-title {
  font-size: xx-small;
}

.kinalat {
  width: 1300px;
}
